:root{
    --greyish: #978e90;
    --darkOrange: #e9a27a;
    --darkBlue: #49556d;
    --blurBlue:#23213a;
    --darkRed: #cd4a50;
    --gray: #787a85;
    --shadow: 0px 4px 17px 2px rgba(0,0,0,0.25);
    --cardColor: rgba(255, 235, 254, 0.95);
}

.App{
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
   }

   .btn {
    width: max-content;
    padding: 1rem;
    border-radius: 4rem;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: var(--darkRed);
    transition: all 100ms ease-out;
  }

  .btn:disabled {
    background: silver;
    pointer-events: none;
  }