:root{
    --greyish: #978e90;
    --darkOrange: #e9a27a;
    --darkBlue: #49556d;
    --blurBlue:#23213a;
    --darkRed: #cd4a50;
    --gray: #787a85;
}

.App{
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
   }